<main class="main">
  <div class="form-block">
    <h2 class="form__title">Вход</h2>
      {{#> Form name="login"}}
        {{> InputField
          name="login"
          id="login"
          type="text"
          placeholder="Логин"
          label="Логин"
        }}

        {{> InputField
          name="password"
          id="password" 
          type="password"
          placeholder="Пароль"
          label="Пароль"
        }}

        {{> Spacer height=30}}
        {{> Button label="Авторизоваться" type="submit" }}

        {{> Spacer height=16}}
        {{> Link class="link--center" text="Нет аккаунта?"}}
      {{/Form}}
  </div>
</main>
