<main class="main">
  <div class="form-block">
    <h2 class="form__title">Изменить пароль</h2>
    {{#> Form name="registration"}}

      {{> InputField
        name="oldPassword"
        id="oldPassword" 
        type="oldPassword"
        placeholder="Пароль"
        label="Пароль"
      }}

      {{> InputField
        name="newPassword"
        id="newPassword" 
        type="newPassword"
        placeholder="Пароль"
        label="Пароль"
      }}

      {{> InputField
        name="newPassword_repeat"
        id="newPassword_repeat" 
        type="newPassword_repeat"
        placeholder="Пароль"
        label="Пароль (ещё раз)"
      }}

      {{> Spacer height=30}}
      {{> Button label="Сохранить" type="submit" }}
      
      {{> Spacer height=16}}
      {{> Link class="link--center" text="Назад"}}

    {{/Form}}
  </div>
</main>
