$black: #000;
$white: #fff;
$dark-gray: #1e1e1e;
$gray: #999;
$gray-light: #eaeaea;
$gray-faint: #fbfbfb;
$blue: #3369f3;
$dark-blue: #2056dc;
$light-blue: #e4edfd;
$red: #ff2f2f;
$dark-red: #f22929;
