<main class="main">
  <div class="form-block">
    <h2 class="form__title">Регистрация</h2>
    {{#> Form name="registration"}}

      {{> InputField
        name="email"
        id="email"
        type="email"
        placeholder="exampla@email.ru"
        label="Почта"
      }}

      {{> InputField
        name="login"
        id="login"
        type="text"
        placeholder="login"
        label="Логин"
      }}

      {{> InputField
        name="first_name"
        id="first_name"
        type="text"
        placeholder="Иван"
        label="Имя"
      }}

      {{> InputField
        name="second_name"
        id="second_name"
        type="text"
        placeholder="Иванов"
        label="Фамилия"
      }}

      {{> InputField
        name="phone"
        id="phone"
        type="phone"
        placeholder="+79999999999"
        label="Телефон"
      }}

      {{> InputField
        name="password"
        id="password" 
        type="password"
        placeholder="Пароль"
        label="Пароль"
      }}

      {{> InputField
        name="password_repeat"
        id="password_repeat" 
        type="password_repeat"
        placeholder="Пароль"
        label="Пароль (ещё раз)"
      }}

      {{> Spacer height=30}}
      {{> Button label="Зарегистрироваться" type="submit" }}

      {{> Spacer height=16}}
      {{> Link class="link--center" text="Войти"}}
        
    {{/Form}}
  </div>
</main>
