@use '@/styles/variables';

.message-form {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 20px;

  .input {
    background-color: variables.$gray-light;
    border-bottom: none;
    border-radius: 20px;
    height: 40px;
    padding: 8px 20px;
  }

  .input-group {
    flex: 1;
  }
}

.chats-page {
  display: grid;
  flex: 1;
  gap: 24px;
  grid-template-columns: 360px 1fr;

  .sidebar {
    border-right: 2px solid variables.$gray-light;
    display: flex;
    flex: 0 0 310px;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding: 10px 10px 0;
  }

  .chat-list {
    flex: 1;
  }

  .chat-messages {
    background-color: variables.$white;
    border-radius: 12px;
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    gap: 12px;
    padding: 12px;
  }

  .sidebar-nav {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: flex-end;

    .btn {
      flex: 1;
    }
  }

  .selected-chat {
    display: flex;
    gap: 24px;

    .chat-area {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 12px;
    }

    .input-container {
      align-items: flex-start;
      display: flex;
      gap: 12px;

      .input {
        flex: 1;
      }

      .btn {
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }

      & > .btn {
        background-color: transparent;
        padding: 0;

        &:hover {
          background-color: variables.$gray-light;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
