@use "@/styles/variables";

.chats-page {
  display: grid;
  flex: 1;
  gap: 24px;
  grid-template-columns: 360px 1fr;
  padding: 20px;

  .sidebar {
    flex: 0 0 310px;
    padding: 10px 10px 0;
    border-right: 2px solid variables.$grayLight;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .chat-list {
    flex: 1;
  }

  .chat-messages {
    background-color: variables.$white;
    border-radius: 12px;
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    gap: 12px;
    padding: 12px;
  }

  .sidebar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;

    .btn {
      flex: 1;
    }
  }

  .chat-area {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .input-container {
    align-items: flex-start;
    display: flex;
    gap: 12px;

    .input {
      flex: 1;
    }

    & > .btn {
      background-color: transparent;
      padding: 0;
      &:hover {
        background-color: variables.$grayLight;
        transition: all 0.3s ease;
      }
    }

    .btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

.message-form {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex: 1;
  gap: 20px;

  .input {
    background-color: variables.$grayLight;
    border-radius: 20px;
    border-bottom: none;
    height: 40px;
    padding: 8px 20px;
  }

  .input-group {
    flex: 1;
  }
}
