@use "@/styles/variables";

.nav {
  align-items: center;
  background-color: variables.$gray-faint;
  bottom: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  left: 0;
  padding: 20px;
  position: absolute;
  width: 100%;
}
