<label class="input-field {{#if name}} input__field_{{name}}{{/if}} {{#if error}} input__field--error{{/if}}">
    {{#if label}}
        <span class="input__label">{{label}}</span>
    {{/if}}

    {{> Input
        type=type
        name=name
        id=id
        placeholder=placeholder
    }}

    {{#if error}}
        <span class="input__error">{{error}}</span>
    {{/if}}
</label>
