<div class="input-field {{#if name}} input__field_{{name}}{{/if}} {{#if error}} input__field--error{{/if}}">
    <label class="input__container">
        {{#if label}}
            <div class="input__label">{{label}}</div>
        {{/if}}

        {{> Input
            type=type
            name=name
            id=id
            placeholder=placeholder
        }}

        {{#if error}}
            <div class="input__error">{{error}}</div>
        {{/if}}
    </label>
</div>