<div class="chat-item">
  <div class="chat-item__avatar">
    <img src="#" alt="" class="chat-item__img" />
  </div>
  <div class="chat-item__content">
    <div class="chat-item__name">Андрей</div>
    <div class="chat-item__message">Друзья, у меня для вас особенный выпуск новостей!...</div>
  </div>
  <div class="chat-item__info">
    <div class="chat-item__date">
      <span>10:49</span>
    </div>
    <div class="chat-item__count">
      <span class="chat-item__count-circle">2</span>
    </div>
  </div>
</div>
