@use '@/styles/variables';

.chat-aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 310px;
  gap: 20px;
  padding: 16px;
  width: 300px;
  border-left: 2px solid variables.$gray-light;

  .chat-controls {
    display: grid;
    gap: 8px;
  }
}
