<footer class="footer">
  <nav>
    <ul class="footer-list">
      {{#each footerLinks}}
        <li class="footer-item">
          <a href="{{href}}" class="footer-link" data-page="{{name}}">{{text}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>
</footer>