@use "@/styles/_variables" as *;

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $grayFaint;
}

.footer {
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
  }
}
