<section class="page-error">
  <div class="error-num">404</div>
  <div class="error-title">Не туда попали</div>
  <div class="error-btns">
    {{> Link href="/chat" text="Назад к чатам" class="error-link"}}
  </div>
</section>
