<section class="page-error">
  <div class="error-num">500</div>
  <div class="error-title">Мы уже фиксим</div>
  <div class="error-btns">
    {{> Link href="/chat" text="Назад к чатам" class="error-link"}}
  </div>
</section>
