@use "@/styles/_variables" as *;

.page-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
  text-align: center;
  padding: 1rem;
}

.error-num {
  font-size: 8rem;
  font-weight: 900;
  color: $darkGray;
  margin: 0;
  line-height: 1;
}

.error-title {
  font-size: 2rem;
  margin: 0.5rem 0 2rem;
  color: $darkGray;
  font-weight: 600;
}

.error-btns {
  display: flex;
  justify-content: center;
}
