@use "@/styles/variables";

.input {
  &-field {
    display: block;
    margin-bottom: 16px;
  }

  &__label {
    color: variables.$gray;
    color: variables.$dark-blue;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
  }

  &__error {
    color: variables.$red;
    font-size: 10px;
    font-weight: 500;
    margin-top: 2px;
    text-align: left;
  }
}
